html {
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    padding: 0.5rem;
    font-size: 1.8rem;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

form {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 4rem;
    border-radius: 1.5em;
    width: 650px;
    margin-bottom: 20px;
}

.ll{
    display: inline-block;
    border: 2px solid darkred;
    padding: 1em;
    border-radius: 1em;
    margin-top: 1em;
    width: 100%;
}

button {
    background-color: rgba(183, 24, 24, 0.854);
    color: white;
    padding: 0.9em;
    border-radius: 1rem;
    font-size: 1rem;
}

.options {
    display:grid;
    grid-template: 1fr 1fr auto / 0.3fr 1fr 0.3fr 1fr;
    row-gap: 0.5rem;
    padding: 1em;
}

input[type="radio"] {
    width: 1.25em;
    height: 1.25em;
}

.qa {
    padding: 0.1rem;
}

input[type="radio"] {
    margin-left: 10px;
}

#q7 {
    display:grid;
    grid-template: 1fr / 0.3fr 1fr 0.3fr 1fr;
    row-gap: 0.5rem;
    padding: 1em;
}
